.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.grid .grid-container {
    width: 100%;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item h3 {
    10px 0 0;
}

