
.container .card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.container .card .face{
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    /*background: #333;*/
    display: flex;
    align-items: center;
    z-index: 1;
    /*border-bottom: 1px solid #ccc;*/
}

.container .card .face.face1.design {
    border-bottom: 2px solid var(--cdesign);
}

.container .card .face.face1.spring {
    border-bottom: 2px solid var(--cspring);
}

.container .card .face.face1.python {
    border-bottom: 2px solid var(--cpython);
}

article.design h1, article.design h2, article.design h3, article.design h4, article.design h5 {
    color: var(--cdesign);
}

article.design a, article.design button, article.design select, article.design summary {
    color: var(--cdesign);
}

article.spring h1, article.spring h2, article.spring h3, article.spring h4, article.spring h5 {
    color: var(--cspring);
}

article.spring a, article.spring button, article.spring select, article.spring summary {
    color: var(--cspring);
}

article.python h1, article.python h2, article.python h3, article.python h4, article.python h5 {
    color: var(--cpython);
}

article.python a, article.python button, article.python select, article.python summary {
    color: var(--cpython);
}

.container .card:hover .face.face1{
    /*background: #ff0057;*/
    /*transform: translateX(100%);*/
}

.container .card .face.face1 .cat img {
        width: 50px;
}

.container .card .face.face1.design .cat img {
    color: var(--cdesign);
}

.container .card .face.face1.spring .cat img {
    color: var(--cspring);
}

.container .card .face.face1.python .cat img {
    color: var(--cpython);
}

.container .card .face.face2.design {
    background: var(--cdesign);
}

.container .card .face.face2.spring {
    background: var(--cspring);
}

.container .card .face.face2.python {
    background: var(--cpython);
}

.container .card .face.face1 .content {
    transition: 0.5s;
    padding: 0 10px;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .cat {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.container .card .face.face1 .cat i {
    font-size: 2.2em;
}

.container .card .face.face1 .cat span {
    margin-left: 8px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.container .card .face.face2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    /*box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);*/
    z-index: 10;
    overflow: hidden;
    transform: translateY(100%);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.container .card .face.face2 .content p {
    color: white;
}

.container .card .face.face2.design .content a{
    /*color: #1C82AD;*/
}

.container .card .face.face2.spring .content a{
    /*color: #03C988;*/
}

.container .card .face.face2.python .content a{
    /*color: #FF9F29;*/
}
