
.container .card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.container .card .face{
    width: 100%;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.container .card:hover .face.face1{
    /*background: #ff0057;*/
    transform: translateX(100%);
}

.container .card .face.face1.design {
    border-left: 4px solid #1C82AD;
}

.container .card .face.face1.spring {
    border-left: 4px solid #03C988;
}

.container .card .face.face1.python {
    border-left: 4px solid #FF9F29;
}

.container .card:hover .face.face2.design {
    background: #1C82AD;
}

.container .card:hover .face.face2.spring {
    background: #03C988;
}

.container .card:hover .face.face2.python {
    background: #FF9F29;
}

.container .card .face.face1 .content{
    opacity: 0.4;
    transition: 0.5s;
    padding: 0 10px;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .cat {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.container .card .face.face1 .cat i {
    font-size: 2.2em;
}

.container .card .face.face1 .cat span {
    margin-left: 8px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.container .card .face.face2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.container .card:hover .face.face2{
    /*transform: translateY(0);*/
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.container .card .face.face2 .content p {
    color: white;
}

.container .card .face.face2.design .content a{
    /*color: #1C82AD;*/
}

.container .card .face.face2.spring .content a{
    /*color: #03C988;*/
}

.container .card .face.face2.python .content a{
    /*color: #FF9F29;*/
}

.container .card .face.face2 .content a:hover{
    text-decoration: underline;
}