
.container .card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(0 0 0 / 80%);
    background-color: #2b2d41;
}

.container .card.box .face.face2 .content {
    margin-top: 15px;
}

article.design h1, article.design h2, article.design h3, article.design h4, article.design h5 {
    color: var(--cdesign);
}

article.design a, article.design button, article.design select, article.design summary {
    color: var(--cdesign);
}

article.spring h1, article.spring h2, article.spring h3, article.spring h4, article.spring h5 {
    color: var(--cspring);
}

article.spring a, article.spring button, article.spring select, article.spring summary {
    color: var(--cspring);
}

article.python h1, article.python h2, article.python h3, article.python h4, article.python h5 {
    color: var(--cpython);
}

article.python a, article.python button, article.python select, article.python summary {
    color: var(--cpython);
}

.container .card .face.face1 .content {
    padding: 0px 20px;
    margin-top: 100px;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .cat {
    position: absolute;
    top: 20px;
    left: 20px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.container .card .face.face2 {
    padding: 20px;
    box-sizing: border-box;
}

.container .card.box .face.face2 {
    position: relative;
    transform: translateY(0);
    display: block;
}

.container .card.box {
    overflow: inherit;
}

.container .card.box .face.face2 .cat {
    display: flex;
    align-items: center;
}

.container .card.box .face.face2 .cat p {
    margin-left: 8px;
    text-transform: capitalize;
    font-weight: bolder;
    letter-spacing: 1px;
}

.container .card.box svg path {
    fill: #fff;
    max-width: 40px;
}

.container .card.box .face.face2.design {
    background: var(--cdesign);
}

.container .card.box .face.face2.spring {
    background: var(--cspring);
}

.container .card.box .face.face2.python {
    background: var(--cpython);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: white;
}

.container .card .face.face2 .content a {
    margin: 20px 0 0;
    display: inline-block;
    text-align: right;
    width: 100%;
    text-decoration: revert;
}

.container .card.box .face.face2.python .content a,
.container .card.box .face.face2.spring .content a,
.container .card.box .face.face2.design .content a{
    color: var(--cfg);
    text-decoration: none;
}

.container .card .face.face2.python .content a {
    color: var(--cpython);
}

.container .card .face.face2.spring .content a {
    color: var(--cspring);
}

.container .card .face.face2.design .content a {
    color: var(--cdesign);
}

a, button, select, summary {
    letter-spacing: 1px;
}
