footer{
    background: #111;
    height: auto;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    color: #cacdd2;
    line-height: 2;
}

ul.socials {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.socials li{
    margin: 0 10px;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    color: #fff;
}

.footer-bottom{
    background: linen;
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: black;
}

.footer-bottom .copyright {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

.footer-bottom .copyright a {
  font-size: 24px;
  text-decoration: none;
  font-family: 'Dancing Script', serif;
  font-weight: 800;
}

.footer-menu {
    margin-left: auto;
}

.footer-menu ul{
    list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu ul li{
    display: inline;
    margin-left: 1em;
}

.footer-menu ul li a{
  text-decoration: none;
}
