nav a {
    color: #363636;
}

nav ul li a {
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
   display: inline;
}

nav.container {
    font-family: Raleway;
	padding: 1.5em 0;
	border-top: 1px solid #cccccc42;
    border-bottom: 1px solid #363636;
}

nav.container a {
    color: #363636;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav.container a:hover {
    font-weight: 700;
    border-bottom: 2px solid #363636;
}

/* Logo and search*/
nav.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.logo .social {
    width: 30%;
    padding-left: 10px;
}
nav.logo .social a {
    padding: 2px 4px;
}

nav.logo .center_logo {
    width: 30%;
    font-size: 32px;
    text-align: center;
    font-family: 'Dancing Script', serif;
    position: relative;
}

.wing {
    position: absolute;
    border: 1px solid #adadad40;
    width: 30px;
}

.center_logo .wing.left {
    transform: translate(-40px, 22px);
}

.center_logo .wing.right {
    transform: translate(10px, 22px);
}

.title {
    font-size: 16px;
    text-transform: uppercase;
}

.title .wing.left {
    transform: translate(-40px, 8px);
}

.title .wing.right {
    transform: translate(10px, 8px);
}

nav.logo .search {
    width: 30%;
    justify-content: flex-end;
    display: flex;
}
