header blockquote {
    font-family: 'Dancing Script', serif;
    position: relative;
    margin: 0em auto;
    width: 80%;
    max-width: 550px;
    font-size: 24px;
    line-height: 30px;
    color: #363636;
}

header blockquote cite {
  display: block;
  text-align: right;
  font-size: 18px;
  text-transform: lowercase;
  color: #adadad;
}