.searchBox {
    height: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 300px;
    padding: 0 6px;
    position: relative;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 16px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    position: absolute;
    right: 50px;
    border-left: 1px solid #cccccc;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}