.searchBox {
    height: 40px;
    padding: 10px;
    position: relative;
}

.searchBox:hover > .searchInput {
    width: 300px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #363636;
  color : white;
}

.searchButton {
    color: #363636;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 16px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: #363636;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    position: absolute;
    right: 50px;
    border-left: 1px solid #363636;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}