.subscribe {
	display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 18px;
    color: white;
}

.subscribe-text {
    max-width: 450px;
    font-size: 14px;
}

.subscribe .form {
	margin: 15px 0;
	display: flex;
}

.subscribe .form input {
	padding: 10px;
	border: 1px;
	min-width: 300px;
}

.subscribe .form input:focus {
	outline: none;
}

.form button {
    background: linen;
    padding: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    min-width: 80px;
}

.form button:hover {
    background: #dad1c8;
}
