.subscribe {
	display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-title {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 18px;
    color: white;
}

.subscribe-text {
    max-width: 450px;
    font-size: 14px;
}

.subscribe .form {
	margin: 15px 0;
	display: flex;
    position: relative;
}

.subscribe .form .feedback{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linen;
    color: black;
    font-weight: 700;
    overflow:hidden;
    line-height: 2.5em;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.subscribe .form .feedback.active {
    width: 100%;
}

.subscribe .form input {
	padding: 10px;
	border: 1px;
	min-width: 300px;
}

.subscribe .form input:focus {
	outline: none;
}

.form button {
    background: linen;
    padding: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    min-width: 80px;
}

.form button:hover {
    background: #dad1c8;
}
