{% from "macros/render_comment.html" import render_comment with context %}

{% extends 'common/base.html' %}

{% block title %}
{{ super() }} - {{ post.title }}
{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ post.description }}">
<meta prefix="og: http://ogp.me/ns#" property='og:title' content="{{ post.title }}"/>
<meta prefix="og: http://ogp.me/ns#" property='og:description' content="{{ post.description }}"/>
{% endblock %}

{% block extra_head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    $(document).ready(function() {
        /*TOC*/
        $(".toc").appendTo("#mr_toc");
        /* Highlight code */
        $('pre').toggleClass('sh_python');
        /* Image Viewer */
        const a = new ImgPreviewer('.post-content', {
            scrollbar: true
        });
        /* Handle submit with reCaptcha*/
        $("#comment-form").on("submit", function(e) {
            if($("#glg").val() === "si"){
                return true;
            }
            console.log("Invalid captcha");
            return false;
        });
    });
    /* reCaptcha callback */
    var verifyCallback = function(response) {
        $("#glg").val("si");
    };

</script>
{% endblock %}

{% block language %}
<a>ESP</a>
{% endblock %}

{% block sidebar %}
<aside id="mr_toc"></aside>
{% endblock %}

{% block main_content %}
<article class="{{ post.category.name }}">
    <div class="section-header">
        <h1 class="post-title">
            {{ post.title }}
        </h1>
        <p class="extra-data">
            {{ _('by') }} {{ post.user.email }} | {{ post.timestamp.strftime('%Y-%m-%d') }} |
            {% if g.lang_code == 'en' %}
            <a href="/es/posts/{{ post.translations.es.human_url }}"><span class="fi fi-es fis"></span></a>
            {% endif %}
            {% if g.lang_code == 'es' %}
            <a href="/en/posts/{{ post.translations.en.human_url }}"><span class="fi fi-gb fis"></span></a>
            {% endif %}
        </p>
        <span class="divider"/>
    </div>
    <section class="post-content">
        {{ post_md | safe }}
    </section>
    <div class="comments">
        <form method="POST" action="{{ url_for('POST_BP.create_comment') }}" id="comment-form">
            <input type="hidden" id="glg" value="no"/>
            {{ form.csrf_token }}
            {{ form.post_id }}
            {{ form.comment_id }}
            <div class="comment-header">
                {% if not current_user.picture %}
                <img src="{{ url_for('static', filename='no_picture.png') }}" width="50" height="50"/>
                {% else %}
                <img src="{{ current_user.picture }}" width="50" height="50"/>
                {% endif %}
                <h4>{{ _('Ask me anything') }}</h4>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.content }}
                    <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">
                        <i class="fab fa-markdown"></i> Use markdown
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form.name.label }} {{ form.name }}
                </div>
                <div class="col-6">
                    {{ form.email.label }} {{ form.email }}
                </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6Lf7QfojAAAAAF2CtqYwsMQ7YsBRkJWvbEqlzx_p"
                 data-callback="verifyCallback"></div>
            <button style="margin-top: 2em; margin-left: 0;" type="submit">{{ _('Comment') }}</button>
        </form>

        <h4 class="comments-header"><i class="fa fa-comments" aria-hidden="true"></i> {{ _('Comments') }}</h4>
        <div id="comments">
            {% for comment in post.comments %}
            {% if not comment.parent %}
            {{ render_comment(comment) }}git
            {% endif %}
            {% else %}
            <p>{{ _('Be the first in commenting on this post!') }}</p>
            {% endfor %}
        </div>
    </div>
</article>
{% endblock %}

