{% extends 'admin/home.html' %}

{% block title %}
    {{ super() }} create post
{% endblock %}

{% block admin_content %}
    <table class="admin" style="width:100%">
        <thead>
            <tr>
                <th>Post Title</th>
                <th>Post File</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a target="_blank" href="{{ url_for('POST_BP.show_post', human_url=post.human_url) }}">{{ post.title }}</a></td>
                    <td>
                        {{ post.content }}
                    </td>
                    <td>
                        {{ post.serie_order }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
