{% extends 'admin/home.html' %}

{% block title %}
    {{ super() }} create post
{% endblock %}

{% block admin_content %}
    <table class="admin" style="width:100%">
        <thead>
            <tr>
                <th>User</th>
                <th>Post File</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in comments %}
                {% if not c.approved %}
                    <tr>
                        <td>{{ c.user.email }}</td>
                        <td><a target="_blank" href="{{ url_for('POST_BP.show_post', human_url=c.post.human_url) }}">
                            {{ c.post.content }}</a>
                        </td>
                        <td style="max-width: 690px; overflow: hidden;">{{ c.content }}</td>
                        <td>
                            {% if not c.approved %}
                                <a href="{{ url_for('.approve_comment', comment_id=c.id)}}"><i class="fas fa-check"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif%}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
