{% extends 'admin/home.html' %}

{% block title %}
    {{ super() }} create post
{% endblock %}

{% block admin_content %}
    <form method="POST" action="{{ url_for('ADMIN_BP.create_post', post_id=None) }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.post_id }}
        <fieldset>
            {{ form.title.label }} {{ form.title }}
        </fieldset>
        <fieldset>
            {{ form.title_es.label }} {{ form.title_es }}
        </fieldset>
        <fieldset>{{ form.file_content.label }} {{ form.file_content }}</fieldset>
        <fieldset>{{ form.file_content_es.label }} {{ form.file_content_es }}</fieldset>
        <fieldset>
            {{ form.tags.label }} {{ form.tags }}
            <p><a href="{{ url_for('BLOG_BP.create_tag')}}">Create tag</a></p>
        </fieldset>
        <fieldset>
            {{ form.category.label }} {{ form.category }}
        </fieldset>
        <fieldset>
            {{ form.description.label }} {{ form.description }}
        </fieldset>
        <fieldset>
            {{ form.description_es.label }} {{ form.description_es }}
        </fieldset>
        <br />

        {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br />
        <input type="submit" value="Save">
    </form>
{% endblock %}
