{% extends 'common/base.html' %}

{% block title %}
    {{ super() }} create tag
{% endblock %}

{% block main_content %}
    <form method="POST" action="{{ url_for('BLOG_BP.create_serie') }}">
        {{ form.csrf_token }}
        <fieldset>
            {{ form.name.label }} {{ form.name }}
        </fieldset>
        <fieldset>
            {{ form.name_es.label }} {{ form.name_es }}
        </fieldset>
        {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <br />
        <input type="submit" value="Save">
    </form>
{% endblock %}
