<!DOCTYPE html>
<html lang="en" data-theme='dark'>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/all.min.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<!--    <link rel="stylesheet" href="https://classless.de/addons/themes.css">-->

    <!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='classless.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='boxes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card-dark.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codehilite.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flag-icons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sticky.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='img-previewer.min.js') }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-73Z482JDJG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-73Z482JDJG');
    </script>


    <title>
        {% block title %}
        My Refactor
        {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="google-site-verification" content="TnFCH7EoHRy2FQXrQXeDA1tDHJZk-KXZVxXGlP8d_ik"/>

    {% block meta_description %}{% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body>

<main class="top-bar">
    <div class="container">
        {% include 'common/logo.html' %}
    </div>
</main>

<main class="banner">
    <div class="container">
        {% include 'common/header.html' %}
    </div>
</main>

<main class="container">
    {% block welcome %}

    {% endblock %}
    <div class="grid">
        {% block sidebar %}
        {% endblock %}

        {% block main_content %}
        {% endblock %}
    </div>
</main>

<main class="container">
    {% include 'common/footer.html' %}
</main>

</body>
</html>
