<!-- Footer -->
<footer>
    <div class="grid-container">
        <div class="footer-content grid-item">
            <div class="subscribe">
                <h2 class="subscribe-title">Let's keep in touch</h2>
                <p class="subscribe-text">Subscribe to keep up with fresh news and exciting updates. We promise not to
                    spam you!</p>
                <form class="form" id="subscriptionForm" action="{{ url_for('BLOG_BP.subscribe') }}">
                    <input type="email" name="email" placeholder="Enter your email address"/>
                    <button type="submit">Send</button>
                </form>
            </div>
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    {# Copyright #}
    <div class="footer-bottom">
        <div class="copyright">
            <p class=""><a href="/"><span name="organization">My Refactor</span></a> &copy; copyright</p>
        </div>
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>
</footer>