<!-- Footer -->
<footer>
    <div class="container grid-container">
        <div class="footer-content grid-item">
            <div class="subscribe">
                <h2 class="subscribe-title">Let's keep in touch</h2>
                <p class="subscribe-text">Subscribe to keep up with fresh news and exciting updates. We promise not to
                    spam you!</p>
                <div class="form">
                    <input type="email" placeholder="Enter your email address"/>
                    <button type="submit">Send</button>
                </div>
            </div>
        </div>
        <div class="footer-content grid-item">
            <p>Raj Template is a blog website where you will find great tutorials on web design and development. Here
                each
                tutorial is beautifully described step by step with the required source code.</p>
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    {# Copyright #}
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">My Refactor</a></p>
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </div>
</footer>