<!-- Footer -->
<footer>
    <div>
        <div>
            <div>
                <h2>{{ _('Keep in touch') }}</h2>
                <p>{{ _('Subscribe to keep up with fresh news and exciting updates. We promise not to
                    spam you!') }}</p>
                <form action="{{ url_for('BLOG_BP.subscribe') }}" class="row">
                    <div class="col">
                        <input type="email" name="email" placeholder="{{ _('Enter your email address') }}"/>
                    </div>
                    <div class="col">
                        <button type="submit">{{ _('Send') }}</button>
                    </div>
                </form>
            </div>
            <dl style="padding-left: 0;">
                <dd><a href="#"><i class="fab fa-facebook"></i></a></dd>
                <dd><a href="#"><i class="fab fa-twitter"></i></a></dd>
                <dd><a href="#"><i class="fab fa-google-plus"></i></a></dd>
                <dd><a href="#"><i class="fab fa-youtube"></i></a></dd>
                <dd><a href="#"><i class="fab fa-linkedin"></i></a></dd>
            </dl>
        </div>
    </div>
    {# Copyright #}
    <div class="row">
        <div class="col">
            <p class=""><a href="/"><span>My Refactor</span></a> &copy;Copyright</p>
        </div>
        <div class="col">
            <dl style="text-align: right;">
                <dd><a href="{{ url_for('BLOG_BP.home') }}">{{ _('Home') }}</a></dd>
                <dd><a href="{{ url_for('POST_BP.all_posts') }}">{{ _('Blog') }}</a></dd>
                <dd><a href="{{ url_for('BLOG_BP.show_terms') }}">{{ _('Terms') }}</a></dd>
                <dd><a href="{{ url_for('BLOG_BP.show_privacy') }}">{{ _('Privacy policy') }}</a></dd>
            </dl>
        </div>
    </div>
</footer>