<nav class="logo">
    <div class="social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div class="center_logo">
        <a href="/"><strong>My refactor</strong></a>
    </div>

    <div class="search">
        <form class="searchBox">
            <input class="searchInput" type="text" name="" placeholder="What do you want to learn..">
            <button class="searchButton" href="#">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</nav>