<nav>
    <ul>
        <li><a href="{{ url_for('BLOG_BP.home') }}">{{ _('Home') }}</a></li>
        <li><a href="{{ url_for('POST_BP.all_posts') }}">{{ _('Blog') }}</a></li>
        {% if current_user.is_authenticated and current_user.is_admin %}
            <li><a href="{{ url_for('ADMIN_BP.admin_home') }}">Admin</a></li>
        {% endif %}
        {% if current_user.is_authenticated  %}
            <li><a href="{{ url_for('AUTH_BP.logout') }}">{{ _('Logout') }}</a></li>
        {% else %}
            <li><a href="{{ url_for('AUTH_BP.login') }}">{{ _('Sign in') }}</a></li>
        {% endif %}
        <li><a href="{{ url_for('BLOG_BP.contact_us') }}">{{ _('Contact Us') }}</a></li>
    </ul>
</nav>