{% extends 'common/base.html' %}

{% block title %}
{{ super() }} - {{ _('Not found') }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404.css') }}">
{% endblock%}

{% block welcome %}
<section class="welcome">
    <h3>{{ _('Ooops! 404 Status') }}</h3>
    <p>{{ _('We are sorry, it seems your page is not found') }}</p>
</section>
{% endblock %}

{% block main_content %}
<div class="grid-container">
    <div class="grid-item feature-box">
        <div class="notfound">
            <div class="notfound-404">
                <h1><span>4</span><span>0</span><span>4</span></h1>
            </div>
            <h2>{{ _('we are sorry, the page you requested was not found') }}</h2>
        </div>
    </div>
</div>
{% endblock %}