{% extends 'common/base.html' %}

{% block title %}
{{ super() }} - {{ _('Home') }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="A place where we talk about clean code! How to improve our code skills by applying best practices and
        most common design patterns in order to get a high scalable code">
{% endblock %}

{% block welcome %}
<section class="welcome">
    <h2>Welcome to My refactor</h2>
    <p>A place where we talk about clean code! How to improve our code skills by applying best practices and
        most common design patterns in order to get a high scalable code.
    </p>
</section>
{% endblock %}

{% block main_content %}
<div class="grid-container">
    {% for p in posts %}
    <div class="grid-item feature-box">
        <h2>{{ p.title }}</h2>
        <div class="box_content">
            <p>
                In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available
            </p>
        </div>
        <a href="{{ url_for('POST_BP.show_post', human_url=p.human_url) }}" class="read-more">{{ _('Read More') }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}