{% extends 'common/base.html' %}

{% block title %}
{{ super() }} - {{ _('Home') }}
{% endblock %}

{% block meta_description %}
<meta name="description" content="A place where we talk about clean code! How to improve our code skills by applying best practices and
        most common design patterns in order to get a high scalable code">
{% endblock %}

{% block welcome %}
<section class="welcome">

</section>
{% endblock %}

{% block main_content %}
<div class="grid-container">
    <div class="grid-item ">
        <div class="card box" onclick="window.open('{{ url_for('BLOG_BP.filter_by_category', category='spring') }}')">
            <div class="face face2 spring">
                <div class="cat">
                    {% include 'svg/java_icon.html' %}
                    <p>{{ _('java') }}</p>
                </div>
                <div class="content">
                    <p>
                        {{ _('Java is a widely-used for developing a wide range of applications, from mobile apps to
                        enterprise software.') }}</p>
                    <a href="#">{{ _('Get started') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item ">
        <div class="card box" onclick="window.open('{{ url_for('BLOG_BP.filter_by_category', category='python') }}')">
            <div class="face face2 python">
                <div class="cat">
                    {% include 'svg/python_icon.html' %}
                    <p>{{ _('python') }}</p>
                </div>
                <div class="content">
                    <p>{{ _('Python is a versatile and powerful used from web
                        development to machine learning.') }}</p>
                    <a href="#">{{ _('Discover Python') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item ">
        <div class="card box" onclick="window.open('{{ url_for('BLOG_BP.filter_by_category', category='design') }}')">
            <div class="face face2 design">
                <div class="cat">
                    {% include 'svg/design_icon.html' %}
                    <p>{{ _('design') }}</p>
                </div>
                <div class="content">
                    <p>
                        {{ _('Design patterns are a powerful tool for solving common software design problems') }}
                    </p>
                    <a href="#">{{ _('Learn patterns') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="divheader">{{ _('Recent posts') }}</h2>

<div class="grid-container">
    {% for p in posts %}
    <div class="grid-item ">
        <div class="card" onclick="window.location='{{ url_for('POST_BP.show_post', human_url=p.human_url) }}'">
            <div class="face face1 {{p.category.name}}">
                <div class="cat">
                    {% if p.category.name == 'design' %}
                    {% include 'svg/design_icon.html' %}
                    {% endif %}
                    {% if p.category.name == 'spring' %}
                    {% include 'svg/java_icon.html' %}
                    {% endif %}
                    {% if p.category.name == 'python' %}
                    {% include 'svg/python_icon.html' %}
                    {% endif %}
                </div>
                <div class="content">
                    <h4 style="text-transform: capitalize">{{ p.title }}</h4>
                </div>
            </div>
            <div class="face face2 {{p.category.name}}">
                <div class="content">
                    <p>{{ p.description }}</p>
                    <a href="#">{{ _('Read More') }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}