{% extends 'common/base.html' %}

{% block title %}
{{ super() }} - {{ _('Home') }}
{% endblock %}

{% block meta_description %}
<meta name="description" content="A place where we talk about clean code! How to improve our code skills by applying best practices and
        most common design patterns in order to get a high scalable code">
{% endblock %}

{% block welcome %}
<section class="welcome">
    <h2>Welcome to My refactor</h2>
    <p>A place where we talk about clean code! How to improve our code skills by applying best practices and
        most common design patterns in order to get a high scalable code.
    </p>
</section>
{% endblock %}

{% block main_content %}
<div class="grid-container">
    {% for p in posts %}
    <div class="grid-item card" style="outline: none;">
        <h4><a href="{{ url_for('POST_BP.show_post', human_url=p.human_url) }}">{{ p.title }}</a></h4>
        <hr>
        <p>
            {{ p.description }}
        </p>
        <a href="{{ url_for('POST_BP.show_post', human_url=p.human_url) }}">{{ _('Read More') }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}