{% macro render_comment(comment) %}

<div class="comment child">
    <div class="picture">
        {% if not current_user.picture %}
            <img src="{{ url_for('static', filename='no_picture.png') }}" width="50" height="50"/>
        {% else %}
            <img src="{{ current_user.picture }}" width="50" height="50"/>
        {% endif %}
    </div>
    <div class="content">
        <div class="comment-header">
            <span>{{ comment.user.name }}</span>
        </div>
        <p>{{ comment.content | safe }}</p>
        <div class="comments">
            {% for comment in comment.children %}
                {{ render_comment(comment) }}
            {% endfor %}
        </div>
    </div>
</div>

{% endmacro %}